body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

.name-color{
  color: rgb(218, 102, 102);
}
.first-sector{
  display: flex;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  margin-bottom: 150px;

  
  
}
.prothom-dib{
  width: 50%;
  padding: 20px;
  
  
  
}
.prothom-dib img{
  width: 70%;
  
}
a{
  text-decoration: none;
  background-color: rgb(189, 129, 51);
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 80px;
}
.second-sector{
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 150px;

}
.express-sector{
  display: flex;
  margin-bottom: 150px;
  
  
}
.second-dib{
  width: 40%;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px rgb(8, 41, 22);
  border-radius: 10px;
  
}
#shadow{
  
  border-left: 7px solid;
  border-image: linear-gradient(#ad7910, #224406) 30;
  border-image-slice: 1;
  
}
#shadowtwo{
  
  border-left: 7px solid;
  border-image: linear-gradient(#05837d, #214603) 30;
  border-image-slice: 1;
  
  }
  .ex-backgound{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  footer p{
    text-align: center;
  }